/* Donor Toggle Box */
.donor-toggle-box {
    display: flex;
    justify-content: center;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 18px 22px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.donor-toggle-box .donor-info h3 {
    margin: 0;
    font-size: 20px;
}

.donor-toggle-box .donor-info p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #444;
}

/* Donor Switch */
.donor-switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

.donor-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.donor-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 28px;
}

.donor-switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 50%;
}

/* When switch is ON */
.donor-switch input:checked+.slider {
    background-color: #e60023;
}

.donor-switch input:checked+.slider:before {
    transform: translateX(27px);
}